html{
  scroll-behavior: smooth;
}
body{
  top: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF ;
  color:black;
}
.container{
  position: sticky;
  background-color: black;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.5s;
}
.horizontal-space{
  border: 0.02px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.container{
  position: sticky;
  background-color: black;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: top 0.5s;
}
.sign{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign>ul{
  list-style: none;
  text-align:right;
}
.sign>ul>li{
  display: inline;
  font-size: 1.2vw;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 33px;
  transition: 1s;
}
.sign>ul>li>a{
  text-decoration: none;
  color:white;
}
.sign>ul>li:hover{
  background-color: #f2c136;
}
.nav-bar{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-button{
  display: none;
}
.header1>h1>a{
  text-decoration: none;
  color:white;
  font-size: 30px;
}
.nav-bar>ul{
  list-style: none;
}
.nav-bar>ul>.li-desktop{
  display: inline;
  font-size: 1.2vw;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 33px;
  transition: 1s;
}
.nav-bar>ul>li>a{
  text-decoration: none;
  color:white;
}
.nav-bar>ul>li:hover{
  background-color: #f2c136;
}
.hide{
  display: none;
}


.header-img-desktop{
  width: 100%;
  height:580px;
  background-image: url("E:/Projects/Crad-Tap website/Card-Tap-website/images/img-the-card.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.header-img-mobile{
  display: none;
}
.spacer{
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 30px;
}
.spacer-bot{
  margin-top: -5px;
}
.block1{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.block1>h3{
  width:100%;
  text-align: center;
  font-size: 3vw;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #f2c136;
}
.block1>.text1{
  text-align: center;
  margin:auto 0;
  font-size: 1.6vw;
  width:50%;
}
.block1>.text1>p{
  padding: 34px;
}
.block1>.img1{
  margin:auto 0;
  width: 50%;
}
.block1>.img1>img{
  width: 100%;
}
.ul-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 35px;
}
.img-con{
  margin: 15px;
  text-align: center;
  width: 20%;
}
.img-con2{
  margin: 15px;
  padding: 15px;
  text-align: center;
  width: 20%;
  word-wrap: break-word;
  border-left: 0.1px solid black;
  border-right: 0.1px solid black;
}
.img-con1{
  margin: 15px;
  padding: 20px;
  text-align: center;
  width: 20%;
  border-left: 0.1px solid black;
}
.img2{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img2>img{
  margin: 35px;
  width: 15%;
}








footer{
  background-color: black;
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-links{
  margin: 40px;
  text-align: center;
}
.other-links{
  width:100%;
  text-align: center;
  font-size: 14px;
}
.social-links>a{
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.other-links>a{
  text-decoration: none;
  color: white;
  margin: 20px;
  padding: 7px;
}
.rights{
  color: white;
  margin: 40px;
  text-align: center;
}
.header-img-mobile{
  display: none;
}
.img1-mobile{
  display: none;
}


@media screen and (max-width: 750px) {
  html{
    scroll-behavior: smooth;
  }
  body{
    top: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF ;
    color:black;
  }
  .nav-bar>ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-button{
    display: inline;
    font-size: 17px;
    margin: auto;
    cursor: pointer;
  }
  .header1{
    width: 96.5%;
  }
  .spacer>p{
    font-size: 20px;
  }
  .header-img-desktop{
    display: none;
  }
  .header-img-mobile{
    display: flex;
    width: 100%;
    height:580px;
    background-image: url("E:/Projects/Crad-Tap website/Card-Tap-website/images/img-the-card.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  .block1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .block1>h3{
    width: 100%;
    text-align: center;
    font-size: 10vw;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #f2c136;
  }
  .block1>.text1{
    width: 100%;
    margin:auto 0;
    font-size: 20px;;
    width:100%;
  }
  .block1>.text1>p{
    padding: 20x;
  }
  .block1>.img1{
    margin:auto 0;
    width: 50%;
  }
  .block1>.img1>img{
    max-width: 100%;
  }
  .img2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img2>img{
    width: 50%;
  }
  .ul-text>ul{
    list-style: none;
    text-align: center;
  }
  .img1-desktop{
    display: none;
  }
  .img1-mobile{
    display: block;
  }
  .img-con{
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
  .img-con1{
    font-size: 15px;
    width: 70%;
    text-align: center;
    border-right: white;
    border-left: white;
    border-top: 0.1px solid black;
  }
  .img-con2{
    font-size: 15px;
    width: 70%;
    text-align: center;
    border-right: white;
    border-left: white;
    border-bottom: 0.1px solid black;
    border-top: 0.1px solid black;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.nav-bar{
    width: 90%;
  }
.nav-bar>ul>.li-desktop{
    font-size: 20px;
  }
  .hide{
    display: inline;
    font-size: 20px;
    padding-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 33px;
    transition: 1s;
  }
  .sign{
    display: none;
  }
}
