body{
  top: 0;
  margin: 0;
  font-family: 'Noto Sans HK', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF ;
  color:black;
}
.container{
  position: sticky;
  background-color: black;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar{
  width: 80%;
  grid-area: nav-barr;
  display: flex;
  flex-direction: row;
}
.nav-button{
  display: none;
}
.header1{
  width: 30%;
  font-size: 15px;
  color: white
}
.header1>h1>a{
  text-decoration: none;
  color:white;
  font-size: 30px;
}
.nav-bar>ul{
  list-style: none;
  text-align:right;
  margin-top: 30px;
  width: 90%;
}
.nav-bar>ul>li{
  display: inline;
  font-size: 20px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 29.5px;
  transition: 1s;
}
.nav-bar>ul>li>a{
  text-decoration: none;
  color:white;
}
.nav-bar>ul>li:hover{
  background-color: #f2c136;
}
.header-img-desktop{
  width: 100%;
  height:580px;
  background-image: url("img-the-card.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.header-img-mobile{
  display: none;
}













footer{
  background-color: black;
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-links{
  margin: 40px;
  text-align: center;
}
.other-links{
  width:100%;
  text-align: center;
}
.social-links>a{
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.other-links>a{
  text-decoration: none;
  color: white;
  margin: 20px;
  padding: 7px;
}
.rights{
  color: white;
  margin: 40px;
  text-align: center;
}
.header-img-mobile{
  display: none;
}


@media screen and (max-width: 750px) {
  body{
    top: 0;
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF ;
    color:black;
  }
  .nav-bar>ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-button{
    display: inline;
    font-size: 17px;
    margin: auto;
    cursor: pointer;
  }
  .header1{
    width: 96.5%;
  }
  .header-img-desktop{
    display: none;
  }
  .header-img-mobile{
    display: flex;
    width: 100%;
    height:580px;
    background-image: url("img-the-card.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
}
