body{
  top: 0;
  margin: 0;
  font-family: 'Noto Sans HK', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF ;
  color:black;
}
.horizontal-space{
  border: 0.02px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.container{
  position: sticky;
  background-color: black;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar{
  width: 80%;
  display: flex;
  flex-direction: row;
}
.header1{
  width: 30%;
  font-size: 15px;
  color: white
}
.header1>h1>a{
  text-decoration: none;
  color:white;
  font-size: 30px;
}
.header1>h1{
}
.nav-bar>ul{
  list-style: none;
  text-align:right;
  margin-top: 30px;
  width: 90%;
}
.nav-bar>ul>li{
  display: inline;
  font-size: 20px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 29.5px;
  transition: 1s;
}
.nav-bar>ul>li>a{
  text-decoration: none;
  color:white;
}
.nav-bar>ul>li:hover{
  background-color: #f2c136
}
.nav-button{
  display: none;
}
.desktop-container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 100px 1fr;
  grid-gap: 15px;
  grid-template-areas:
  "card bio"
  "card sclinks"
  "card otlinks";
}
.card-holder{
  background-color: black;
  color: white;
  grid-area: card;
}
.card-holder>img{
  width: 100%;
}
.second-part-name>h3{
  margin: 10px;
}
.second-part-name>span{
  margin: 10px;
  opacity: 0.7;
  color: #f2c136;
}
.h-space{
  display: none;
}
.card-holder-button{
  display: none;
}
.bio{
  margin: auto;
  padding: 20px;
  grid-area: bio;
}
.client-social-links{
  grid-area: sclinks;
  margin: auto;
}
.client-social-links>a{
  margin: 30px;
  text-decoration: none;
  color: black;
  font-size: 40px;
}
.client-other-links{
  grid-area: otlinks;
}
.img-mobile-ver{
  display: none;
}
.client-other-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 20px;
}
.email{
  width: 120%;
  margin: 10px;
}
.email>a{
  padding: 10px;
  text-decoration: none;
  color: black;
}
.website{
  width: 100%;
  margin: 10px;
}
.website>a{
  padding: 10px;
  text-decoration: none;
  color: black;
}
.location{
  width: 100%;
  margin: 10px;
}
.location>a{
  padding: 10px;
  text-decoration: none;
  color: black;
}
.call{
  width: 100%;
  margin: 10px;
}
.call>a{
  padding: 10px;
  text-decoration: none;
  color: black;
}





@media screen and (max-width: 750px) {
  body{
    top: 0;
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF ;
    color:black;
  }
  .nav-bar{
    display: flex;
    flex-direction: row;
  }
  .header1{
    width:96.5%;
  }
  .nav-bar>ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header1>h1>a{
    width: 10%;
  }
  .nav-button{
    display: inline;
    font-size: 17px;
    margin: auto;
    cursor: pointer;
  }
  .card-holder{
    border-radius: 5px;
    margin: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .card-holder>img{
    margin: auto ;
    border-bottom-left-radius: 5px;
    border-top-left-radius:5px;
    width: 62%;
  }
  .second-part-name>h3{
    margin: 10px;
  }
  .second-part-name>span{
    margin: 10px;
    opacity: 0.7;
    color: #f2c136;
    font-size: 2.8vw;
  }
  .card-holder-button{
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: auto;
    background-color: #fd612f;
    width: 79%;
    transition: 1s;
    padding: 10px;
  }
  .bio{
    border-radius: 5px;
    width: 74%;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
  }
  .h-space{
    margin: 10px;
    width:90%;
    border: 0.00001px solid black;
    opacity: 0.2
  }
  .client-social-links{
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .client-social-links>a{
    margin: 30px;
    text-decoration: none;
    color: black;
    font-size: 40px;
  }
  .client-other-links{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .email{
    width: 120%;
    margin: 10px;
  }
  .website{
    width: 100%;
    margin: 10px;
  }
  .location{
    border-radius: 5px;
    width: 100%;
    margin: 10px;
  }
  .location>i{

  }
  .email>a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
  }
  .website>a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
  }
  .location>a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
  }
  .img-desktop-ver{
    display: none;
  }
  .img-mobile-ver{
    display: block;
  }
}















footer{
  background-color: black;
  width:100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-links{
  margin: 40px;
  text-align: center;
}
.other-links{
  width:100%;
  text-align: center;
}
.social-links>a{
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.other-links>a{
  text-decoration: none;
  color: white;
  margin: 20px;
  padding: 7px;
}
.rights{
  color: white;
  margin: 40px;
  text-align: center;
}
